// button 1

.form_btn {
    @extend %border-none, %font-size-18, %white-color, %text-capitalize, %bg1, %black-color, %text-center, %mt-35, %rel, %b-radius-5;
    @include padding(15px 30px);
    user-select: none;
    transition: all 0.2s ease;
}

.msg {
    @extend %h-0, %w-0, %b-radius-2, %abs, %left-15, %top-25;
}

.form_btn:active {
    transition: all 0.001s ease;
    background-color: #5d9fcd;
    box-shadow: #97989a 0 0 0 0;
    transform: translateX(1px) translateY(1px);
}

.form_btn:hover .msg {
    animation: msgRun 2s forwards;
}

@keyframes msgRun {
    0% {
        border-top: #d6d6d9 0 solid;
        border-bottom: #f2f2f5 0 solid;
        border-left: #f2f2f5 0 solid;
        border-right: #f2f2f5 0 solid;
    }

    20% {
        border-top: #d6d6d9 14px solid;
        border-bottom: #f2f2f5 14px solid;
        border-left: #f2f2f5 20px solid;
        border-right: #f2f2f5 20px solid;
    }

    25% {
        border-top: #d6d6d9 12px solid;
        border-bottom: #f2f2f5 12px solid;
        border-left: #f2f2f5 18px solid;
        border-right: #f2f2f5 18px solid;
    }

    80% {
        border-top: transparent 12px solid;
        border-bottom: transparent 12px solid;
        border-left: transparent 18px solid;
        border-right: transparent 18px solid;
    }

    100% {
        transform: translateX(150px);
        border-top: transparent 12px solid;
        border-bottom: transparent 12px solid;
        border-left: transparent 18px solid;
        border-right: transparent 18px solid;
    }
}


// button style start here
.button {
    @extend %rel, %text-none, %text-600;
    padding: 16px 22px;
    border-radius: 6px;
    border: none;
    color: $color2;
    cursor: pointer;
    background-color: #fff;
    transition: all 1s ease;

    &:hover {
        @extend %bg1, %white-color;
    }

    &:active {
        transform: scale(0.96);
    }

    &:before,
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        left: 50%;
        bottom: 0%;
        height: 100%;
        transform: translateX(-50%);
        background-repeat: no-repeat;
    }

    &:hover:before {
        top: -70%;
        background-image: radial-gradient(circle, #ffffff 20%, transparent 20%),
            radial-gradient(circle, transparent 20%, #ffffff 20%, transparent 30%),
            radial-gradient(circle, #ffffff 20%, transparent 20%),
            radial-gradient(circle, #ffffff 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, #ffffff 15%, transparent 20%),
            radial-gradient(circle, #ffffff 20%, transparent 20%),
            radial-gradient(circle, #ffffff 20%, transparent 20%),
            radial-gradient(circle, #ffffff 20%, transparent 20%),
            radial-gradient(circle, #ffffff 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
            10% 10%, 18% 18%;
        background-position: 50% 125%;
        animation: greentopBubbles 0.6s ease;
    }

    @keyframes greentopBubbles {
        0% {
            background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
                40% 90%, 55% 90%, 70% 90%;
        }

        50% {
            background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
                50% 50%, 65% 20%, 90% 30%;
        }

        100% {
            background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
                50% 40%, 65% 10%, 90% 20%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }

    &:hover::after {
        bottom: -70%;
        background-image: radial-gradient(circle, #ffffff 20%, transparent 20%),
            radial-gradient(circle, #ffffff 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, #ffffff 15%, transparent 20%),
            radial-gradient(circle, #ffffff 20%, transparent 20%),
            radial-gradient(circle, #ffffff 20%, transparent 20%),
            radial-gradient(circle, #ffffff 20%, transparent 20%),
            radial-gradient(circle, #ffffff 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
        background-position: 50% -125%;
        animation: greenbottomBubbles 0.6s ease;
    }

    @keyframes greenbottomBubbles {
        0% {
            background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
                70% -10%, 70% 0%;
        }

        50% {
            background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
                105% 0%;
        }

        100% {
            background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
                110% 10%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }
}

//end here


// start play btn 
.playbtn_animation {
    @extend %rel, %flex, %align-items-center, %justify-center;
    z-index: 1;

    a {
        @extend %w-50, %h-50, %bg-white, %lheight-52, %text-center;
        border-radius: 25px;

        i {
            @extend %color2;
            font-size: 20px;
        }
    }

    &::before,
    &::after {
        @extend %abs, %bg2;
        height: 8em;
        width: 8em;
        border: .5em solid #2D50CE9E;
        border-radius: 50%;
        animation: playbtn_animation_79178 2.5s linear infinite;
        z-index: -1;
    }

    &::after {
        opacity: 0;
        animation-delay: 1.2s;
    }


    @keyframes playbtn_animation_79178 {
        0% {
            border: .5em solid #2D50CE6E;
            transform: scale(0);
            opacity: 1;
        }

        100% {
            border: 0 solid #2D50CEC4;
            transform: scale(1);
            opacity: 0;
        }
    }

    &.playbtn_animation2 {


        &::before,
        &::after {
            @extend %bg-white;
            border: .5em solid #fff;
            animation: playbtn_animation_7 2.5s linear infinite;

        }

        @keyframes playbtn_animation_7 {
            0% {
                border: .5em solid #fff;
                transform: scale(0);
                opacity: 1;
            }

            100% {
                border: 0 solid #ffff;
                transform: scale(1);
                opacity: 0;
            }
        }

    }
}


// button start here
.button_style2 {
    @extend %rel, %text-none, %text-600, %bg2, %d-inline-block, %text-center;
    padding: 14px;
    border-radius: 6px;
    z-index: 1;
    border: none;
    width: 180px;
    height: 56px;
    color: $color2;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        @extend %bg1;

        span {
            @extend %white-color;
        }
    }

    &:active {
        transform: scale(0.96);
    }

    &:before,
    &:after {
        position: absolute;
        content: "";
        width: 100%;
        left: 50%;
        bottom: 0%;
        height: 100%;
        transform: translateX(-50%);
        z-index: -1;
        background-repeat: no-repeat;
    }

    &:hover:before {
        top: -70%;
        background-image: radial-gradient(circle, #2D50CE 20%, transparent 20%),
            radial-gradient(circle, transparent 20%, #2D50CE 20%, transparent 30%),
            radial-gradient(circle, #2D50CE 20%, transparent 20%),
            radial-gradient(circle, #2D50CE 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, #2D50CE 15%, transparent 20%),
            radial-gradient(circle, #2D50CE 20%, transparent 20%),
            radial-gradient(circle, #2D50CE 20%, transparent 20%),
            radial-gradient(circle, #2D50CE 20%, transparent 20%),
            radial-gradient(circle, #2D50CE 20%, transparent 20%);
        background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
        background-position: 50% 125%;
        animation: greentopBubbles 0.6s ease;
    }

    @keyframes greentopBubbles {
        0% {
            background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
                40% 90%, 55% 90%, 70% 90%;
        }

        50% {
            background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
                50% 50%, 65% 20%, 90% 30%;
        }

        100% {
            background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
                50% 40%, 65% 10%, 90% 20%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }

    &:hover::after {
        bottom: -70%;
        background-image: radial-gradient(circle, #2D50CE 20%, transparent 20%),
            radial-gradient(circle, #2D50CE 20%, transparent 20%),
            radial-gradient(circle, transparent 10%, #2D50CE 15%, transparent 20%),
            radial-gradient(circle, #2D50CE 20%, transparent 20%),
            radial-gradient(circle, #2D50CE 20%, transparent 20%),
            radial-gradient(circle, #2D50CE 20%, transparent 20%),
            radial-gradient(circle, #2D50CE 20%, transparent 20%);
        background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
        background-position: 50% -125%;
        animation: greenbottomBubbles 0.6s ease;
    }

    @keyframes greenbottomBubbles {
        0% {
            background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
                70% -10%, 70% 0%;
        }

        50% {
            background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
                105% 0%;
        }

        100% {
            background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
                110% 10%;
            background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
        }
    }

}

// end here

// download button start here

.download-btn {
    @extend %h-50, %pointer, %bg-white, %border-none, %b-radius-6;
    overflow: hidden;
    width: 165px;
    background: #2D50CE;
}

.button-content {
    transform: translateY(-45px);
    transition: all 250ms ease-in-out;
}

.svg-container,
.text-container {
    @extend %h-47, %wd-100, %flex, %justify-center, %align-items-center;
}

.text-container .btntext {
    @extend %white-color, %text-600, %opacity-1;
    font-size: 13px;
    transition: opacity ease-in-out 250ms;

    a {
        @extend %text-none, %white-color;
    }
}

.download-icon {
    @extend %h-25, %w-25, %opacity-0;
    fill: #fff;
    transition: opacity ease-in-out 250ms;
}

/* hover state for the button */
.download-btn:hover .button-content {
    transform: translateY(0px);
}

.download-btn:hover .btntext {
    @extend %opacity-0;


}

.download-btn:hover .download-icon {
    @extend %opacity-1;
}

.download-btn:focus .download-icon {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

// download button end here