.slick-prev:before,
.slick-next:before {
    font-size: 60px;
    color: #2D50CE;
    font-weight: 700;
}

.slick-prev {
    left: -80px;

}


.slick-slide {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.sponsor {
    @extend %bg-reno, %bg-center, %bg-cover;

    h5 {
        @extend %text-center, %mb-30, %white-color, %text-500;

        span {
            @extend %white-color, %text-700;
            font-size: 24px;
        }

    }

    &__item {
        img {
            @extend %b-radius-6, %wd-100;
        }
    }

    &__wrapper {
        max-width: 1310x;
    }

    .slick-next,
    .slick-prev {
        display: none !important;
    }

    .slick-slide {
        margin-right: 8px !important;
        margin-left: 8px !important;
    }
}

// header animation start here
@include breakpoint(xl) {
    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
    }
}

.light-color {
    @extend %rel;
    z-index: 1;

    &::after {
        @extend %abs, %top-0, %left-0, %wd-100, %hd-100;
        background: linear-gradient(0deg, rgba(31, 42, 89, 0.80) 0%, rgba(31, 42, 89, 0.80) 100%);
        z-index: -1;
    }

}

.animation {
    @extend %rel;
    animation: mymove 6s infinite;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 2s;

    @keyframes mymove {
        0% {
            left: 0px;
        }

        50% {
            left: 150px;

            @include breakpoint(xl) {
                left: 100px;
            }
        }

        100% {
            left: 0px;
        }

    }
}


// error start here
.fourzero {
    @include padding(120px 0);

    &__content {
        @include margin-top(30px);

        p {
            max-width: 688px;
            @extend %auto, %mt-15;
        }

        a {
            @extend %white-color, %text-capitalize, %mt-30;
            width: 190px;
        }
    }
}


.orginalsearch {
    position: fixed;
    @extend %wd-100, %hd-100, %top-0, %left-0, %opacity-0;
    @include transition(0.8s);
    z-index: 99999999;
    background: rgba(4, 3, 0, 0.88);
    transform: scaleX(0);

    &.active {
        transform: scaleX(1);
        @extend %opacity-1;
        @include transition(0.8s);
    }

    .closer {
        @extend %p-abs;
        top: 10%;
        right: 10%;

        i {
            @extend %white-color, %pointer;
            @include font-size(25px);
        }
    }

    &__area {
        @extend %p-abs, %bg-white, %flex, %align-items-center, %top-50, %left-50;
        @include add-prefix(border-radius, 4px);
        @include transform(translate(-50%, -50%));
        max-width: 500px;

        input {
            width: calc(100% - 60px);
            background: transparent;
            padding: 21px 10px;
            border: none !important;
        }

        button {
            @extend %border-none, %bg2, %abs, %right-0, %bottom-0;
            @include border-radius(0 4px 4px 0);
            padding: 21.5px 0;
            width: 60px;

            i {

                @extend %white-color;
            }
        }
    }
}

.padding-block {
    padding: 60px 0;

    @include breakpoint(sm) {
        @include padding(120px 0);
    }

}


// bottom scrollbar start here

.scrollToTop {
    @extend %w-40, %h-40, %text-center;
    line-height: 40px;
    position: fixed;
    bottom: -30%;
    right: 5%;
    z-index: 9;
    background: linear-gradient(99deg, $bg2 25.27%, $bg2 96.39%);

    @include border-radius(50%);
    font-size: 24px;
    animation: lab_top_up 5s linear infinite;
    @include transition($transition);
    z-index: 999999;

    i {
        color: $white-color;
        @extend %rel, %font-size-15;
        z-index: 1;
    }
}

@keyframes lab_top_up {
    0% {
        transform: translateY(-15px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-15px);
    }
}

.pluse_1,
.pluse_2 {
    @extend %abs, %w-100, %h-100, %left-50, %top-50;
    @include border-radius(50%);

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba($bg2, $alpha: 0.1);

    &::after,
    &::before {
        @extend %abs;
        background: $bg2;
        border-radius: 50%;
        @extend %left-50, %top-50;
        margin-left: -20px;
        margin-top: -20px;
        z-index: 0;
    }

    &::after {
        @extend %wd-30, %hd-30;
        margin-left: -15px;
        margin-top: -15px;
        background: transparent;
    }

    &:before {
        width: 40px;
        height: 40px;
    }
}

.pluse_1 {
    -webkit-animation: pluse_animate 3s infinite linear;
    animation: pluse_animate 3s infinite linear;
}

.pluse_2 {
    &::before {
        -webkit-animation: pluse_animate 3s infinite linear;
        animation: pluse_animate 3s infinite linear;
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
        margin-left: 0;
        margin-top: 0;
    }
}

@keyframes pluse_animate {
    0% {
        opacity: 1;
        -webkit-transform: translate(-50%, -50%) scale(0.3);
        transform: translate(-50%, -50%) scale(0.3);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate(-50%, -50%) scale(2);
        transform: translate(-50%, -50%) scale(2);
    }
}

@include breakpoint(xl) {
    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

    .animated {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @keyframes fadeInDown {
        0% {
            opacity: 0;
            -webkit-transform: translateY(-20px);
            -ms-transform: translateY(-20px);
            transform: translateY(-20px);
        }

        100% {
            opacity: 1;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
    }
}

.wow {
    @include breakpoint(max-sm) {
        visibility: visible !important;
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}