.client {
    @extend %rel;
    @include padding-bottom(80px);

    &__item {
        @extend %bg-white, %p-30, %b-radius-4;
        box-shadow: 0px 10px 10px 0px rgba(85, 85, 85, 0.10);
        @extend %b-radius-4;
        @include margin(80px 0 40px 0);

        .thumb {
            @extend %w-60, %h-60, %hidden;
            @include border-radius(50%);
            box-shadow: 0px 0px 24px 0px rgba(179, 181, 191, 0.42);
            border: 2px solid #ffff;

            img {
                @extend %w-100;
            }
        }

        .content {
            @include margin-top(20px);

            .name {
                @extend %mb-20;

                h6 {
                    @extend %mb-0;
                }

                ul {
                    @extend %mp-0, %flex, %pl-0, %mb-0, %gap-3;

                    li {
                        @extend %list-none;

                        i {
                            @include font-size(12px);
                            color: #FFB421;
                        }
                    }
                }
            }
        }

        &:hover {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

            .content {
                h6 {
                    @extend %color2;
                }
            }
        }
    }

    .slick-next,
    .slick-prev {
        display: none !important;
    }

    &__shape {
        @extend %abs;

        &.shape1 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                border-radius: 5px;
                left: 5%;
                top: 0;
                background: #EF495E;
                display: block;
            }
        }

        &.shape2 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                left: 5%;
                bottom: 0%;
                border-radius: 5px;
                background: #00AB9D;
                display: block;
            }
        }

        &.shape3 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                border-radius: 5px;
                right: 40%;
                top: 15%;
                background: #FFC53C;
                display: block;
            }
        }

        &.shape4 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                border-radius: 5px;
                right: 50%;
                top: 32%;
                background: #EF495E;
                display: block;
            }
        }

        &.shape5 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                border-radius: 5px;
                right: 5%;
                top: 40%;
                background: #EF495E;
                display: block;
            }
        }

        &.shape6 {
            @extend %top-20, %d-none;

            @include breakpoint(xl) {
                right: 130px;
                display: block;

            }
        }

        &.shape7 {
            @extend %bottom-20, %d-none;

            @include breakpoint(xxxxxl) {
                display: block;
                left: 120px;
            }
        }

        &.shape8 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                border-radius: 5px;
                right: 10%;
                bottom: 5%;
                background: #EF495E;
                display: block;
            }
        }

    }
}

.slick-slide {
    margin-right: 10px;
    margin-left: 10px;
}