.services {
    @extend %bg-reno, %bg-center, %bg-cover;

    @include breakpoint(xxxl) {
        @include padding-bottom(230px);
    }

    &__inner {
        background: #FFE3E3;
        border-radius: 10px;
        @include padding(40px 30px);

        .thumb {
            border-radius: 10px;
            @extend %w-80, %h-80, %text-center;
            line-height: 80px;

            img {
                transition: $transition3;
            }
        }

        .text {
            h6 {
                @extend %font1, %mt-20, %mb-8, %color1, %text-600;
            }

            a {
                @extend %mt-10, %text-none, %d-inline-block, %color1, %text-600;

                svg {
                    @extend %mr-3;

                }
            }
        }

        &:hover {
            .thumb {
                img {
                    transform: rotateY(360deg);
                }
            }

            .text {
                h6 {
                    @extend %color2;
                }

                a {
                    @extend %color2;

                    svg {
                        path {
                            fill: #2D50CE;
                        }
                    }
                }
            }
        }
    }

    &__wrapper {
        @extend %mt-60;

        >p {
            @extend %text-center, %mt-50, %black-color;

            @include breakpoint(max-xxxl) {
                @include margin-top(90px);
            }

            a {
                @extend %text-500, %color2;
                text-decoration-line: underline;
            }
        }

        &--wrapperp2 {
            >p {
                @include margin-top(40px);
            }
        }

        &--wrapper-p3 {
            @include breakpoint(xxxl) {
                position: absolute;
                content: '';
                top: 60%;
                left: 0;
                width: 100%;
                z-index: 1;
            }
        }

    }

    &__btn {
        @extend %flex;

        @include breakpoint(lg) {
            justify-content: flex-end;
        }

        a {
            @extend %white-color;
            width: 180px;

            @include breakpoint(lg) {
                margin-left: auto;
            }
        }
    }

    .row {

        .col-xxl-3,
        .col-md-6 {
            &:nth-child(2) {
                .services__inner {
                    background: #D2D7FF;

                    @include breakpoint(xxxl) {
                        margin-top: 42px;
                    }
                }
            }

            &:nth-child(3) {
                .services__inner {
                    background: #FEC;
                }
            }

            &:nth-child(4) {
                .services__inner {
                    background: #DFC6FF;

                    @include breakpoint(xxxl) {
                        margin-top: 42px;
                    }
                }
            }
        }
    }

    .slick-prev,
    .slick-next {
        display: none !important;

        @include breakpoint(xxl) {
            top: -30% !important;
            display: block !important;
        }
    }

    .slick-next {
        @include breakpoint(xxl) {
            right: 3% !important;
        }
    }

    .slick-prev {
        @include breakpoint(xxl) {
            left: 90% !important;
        }
    }

    &--servicespage {

        @include padding-bottom(120px);

        .row {

            .col-xxl-3,
            .col-lg-6 {
                &:nth-child(2) {
                    .services__inner {
                        @include breakpoint(xxxl) {
                            margin-top: 0px;
                        }
                    }
                }

                &:nth-child(3) {
                    .services__inner {
                        background: #FEC;
                    }
                }

                &:nth-child(4) {
                    .services__inner {
                        @include breakpoint(xxxl) {
                            margin-top: 0px;
                        }
                    }
                }

                &:nth-child(5) {
                    .services__inner {
                        background: #DFC6FF;

                        @include breakpoint(xxxl) {
                            margin-top: 0px;
                        }
                    }
                }

                &:nth-child(7) {
                    .services__inner {
                        background: #D2D7FF;

                        @include breakpoint(xxxl) {
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }

    &--page3 {
        @include padding-bottom(150px 0);

        @include breakpoint(max-xxxl) {
            overflow: hidden;
        }
    }
}

// services style two start here
.services2 {
    @include padding-bottom(110px);

    &__item {
        @extend %mb-30;

        .thumb {
            @extend %rel;

            img {
                border-radius: 10px 10px 0 0;
                width: 100%;
            }

            .icon {
                @extend %abs, %left-0, %bg-white, %p-18;
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.10);
                bottom: -35px;
                left: 7%;
                border-radius: 10px;

                @include breakpoint(lg) {
                    bottom: -45px;
                }

                img {
                    transition: all 1s;
                }
            }
        }

        .text {
            @extend %px-25, %pt-70, %pb-35, %bg-white;
            border-radius: 0 0 10px 10px;

            @include breakpoint(sm) {
                padding-top: 60px;
            }

            h6 {
                a {
                    @extend %text-none, %color1;
                }
            }

            p {
                @extend %pt-7;
            }

            a {
                @extend %text-none, %color4, %d-inline-block, %pt-15;

                svg {
                    @extend %mr-5;
                }
            }
        }

        &:hover {

            .thumb {

                .icon {
                    img {
                        transform: rotateY(360deg);
                    }
                }
            }

            .text {
                box-shadow: 0px 10px 10px 0px rgba(85, 85, 85, 0.10);

                h6 {

                    a {
                        @extend %color2;
                    }
                }

                a {
                    @extend %color2;

                    svg {
                        path {
                            fill: #2D50CE;
                        }
                    }
                }
            }

        }
    }
}

.servicesingle {

    @include padding-bottom(80px);

    &__body {
        .item {
            .text {
                @extend %mt-35;

                h4 {
                    @extend %my-22;
                    font-size: 28px;
                }

                p {
                    @extend %mb-15;
                }
            }

            img {
                @extend %wd-100, %hd-100;
            }

            &:last-child {
                @extend %mt-35;
            }
        }
    }

}


.sidebar {
    &__widgets {
        background: #F0F4F7;
        @extend %mb-25;

        .title {
            h4 {
                @extend %px-25, %py-15, %wd-100, %d-inline-block, %text-600;
                border-bottom: 1px solid #fff;
                font-size: 28px;
            }

            h6 {
                border-bottom: 1px solid #fff;
                @extend %py-23, %px-20;
            }
        }
    }

    &__services {
        .desk {
            a {
                @extend %px-25, %py-15, %wd-100, %d-inline-block, %text-none, %font1, %color4;
                border-bottom: 1px solid #fff;
            }
        }
    }

    &__brochure {
        @extend %mt-20;

        .desk {
            @extend %py-20, %px-30;

            .thumb {
                @extend %bg-white, %text-center, %py-40, %b-radius-4;
            }

            .text {
                @extend %mt-25;

                .download-btn {
                    @extend %mt-20;
                }
            }

        }
    }

    &__need {
        @extend %mt-20;

        .desk {
            @extend %py-30, %px-30;

            .thumb {
                @extend %text-center;
            }

            >.text {
                @extend %mt-30;

                ul {
                    @extend %mb-0, %pl-0;

                    li {
                        @extend %list-none, %flex, %align-items-center, %gap-30;
                        margin-bottom: 15px;
                        padding-bottom: 15px;
                        border-bottom: 1px solid #fff;

                        &:last-child {
                            border-bottom: none !important;
                            @extend %pb-0, %mb-0;
                        }

                        .text {
                            h6 {
                                @extend %text-500, %color1, %mb-0;
                            }

                            p {
                                @extend %color4;
                            }
                        }
                    }
                }
            }
        }
    }
}