.casegallery {
    @include padding(120px 0);

    &__header {
        ul {
            @extend %flex, %justify-center, %gap-10;

            li {
                @extend %list-none, %bg-white, %py-15, %px-20, %b-radius-4, %pointer, %text-600, %font1;

                &.active {
                    @extend %bg2, %white-color;
                }
            }
        }
    }

    &__wrapper {
        @extend %mt-60;
    }

    &__photoitem {
        @extend %rel, %hidden;

        img {
            @extend %wd-100;
        }

        .inner_text {
            @extend %bg-white, %text-center, %py-20, %px-30, %abs, %left-50, %visi-hidden;
            width: 100%;
            transition: $transition3;
            @extend %b-radius-5;
            transform: translateX(-50%);
            bottom: -150px;

            @include breakpoint(sm) {
                width: 364px;
            }

            p {
                @extend %color2, %text-500;

            }

            h6 {
                a {

                    @extend %text-600, %text-capitalize, %mt-3, %text-none;
                }

                &:hover {
                    @extend %color2;

                    a {
                        @extend %color2;
                    }
                }
            }

            &:hover {
                p {
                    @extend %color1;
                }
            }
        }

        &:hover {
            .inner_text {
                bottom: 15px;
                @extend %visi-visiable;


            }
        }
    }

    &--casegallerypage2 {
        padding: 60px 0 120px 0;
    }
}


.casedetails {

    @include padding(120px 0);

    &__thumb {
        @extend %b-radius-4, %hidden;

        img {
            @extend %wd-100;
        }
    }

    &__left {
        .item {
            h4 {
                font-size: 28px;
            }

            p {
                @extend %mt-20;
            }

            &:last-child {
                @include margin-top(40px);
            }
        }
    }

    &__right {
        box-shadow: 0px 10px 10px 0px rgba(85, 85, 85, 0.05);

        h6 {
            @extend %mb-10;
            @include padding(20px 40px 20px 40px);


        }

        ul {
            @extend %flex, %align-items-center, %mp-0;

            @include breakpoint(sm) {
                justify-content: space-between
            }

            li {
                @extend %text-left, %w-100, %mb-10, %pb-10, %list-none;

                @include breakpoint(esmm) {
                    width: 50%;
                    @include margin-bottom(20px);
                    @include padding-bottom(20px);
                }

                span {
                    @extend %text-500;
                }

                p {
                    @extend %title-color, %mb-0, %text-500;
                }

                &:nth-child(even) {
                    @include padding-left(20px);
                }

                &:nth-child(5) {
                    @include breakpoint(esmm) {
                        border-bottom: none !important;
                    }

                }

                &:nth-child(6) {
                    border-bottom: none !important;
                }
            }
        }
    }
}