.cousult {
    @extend %rel;

    @include breakpoint(max-xxxl) {
        @include margin-top(130px);
    }



    @include breakpoint(xxxl) {
        margin-top: -120px;
    }

    &__content {
        @extend %b-radius-10;
        @include padding(50px 40px);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include breakpoint(esmm) {
            @include padding(50px 60px);
        }

        h3 {
            @extend %white-color;

            @include breakpoint(max-esmm) {
                text-align: center;
                font-size: 22px;
            }
        }

        a {
            @extend %mt-10, %d-inline-block;

            @include breakpoint(max-esmm) {
                width: 180px;
                margin: 10px auto 0 auto;
                text-align: center;
                left: 50%;
                transform: translateX(-50%)
            }
        }

        .rihgtimg {
            @extend %d-none;

            @include breakpoint(md) {
                right: -7%;
                position: absolute;
                bottom: 0;
                display: block;
            }

            @include breakpoint(lg) {
                right: 2%;
            }

            @include breakpoint(xl) {
                right: 15%;
            }


            @include breakpoint(xxxxxl) {
                right: 22%;
            }

            img {
                @include breakpoint(max-xl) {
                    width: 80%;
                }
            }

            &.rihgtimggirl {
                right: 0%;

                @include breakpoint(lg) {
                    right: 11%;
                }

                @include breakpoint(xl) {
                    right: 25%;
                }

                @include breakpoint(xxxxxl) {
                    right: 30%;
                }
            }
        }
    }

    &--consult2 {
        margin: inherit;
        @include padding-top(120px);

    }
}