.counter {
    @extend %bg-reno, %bg-center, %bg-cover;
    @include padding(100px 0);

    &__inner {
        @extend %text-center;

        .counting {
            @extend %flex, %align-items-center, %justify-center;

            h2 {
                @include font-size(48px);
                @extend %mb-0, %text-500;

                span {
                    @extend %white-color,
                    %mb-0,
                    %text-700, %pt-2, %pb-8;
                    @include font-size(48px);
                }
            }

            >span {
                @include font-size(48px);
                @extend %white-color, %text-600;
            }
        }

        h6 {
            @extend %white-color, %font1, %text-400;
            @include font-size(16px);
        }
    }
}