.question {
    @extend %p-rel;

    @include padding-bottom(160px);

    &__rightimg {
        .item {
            @extend %text-center;

            @include breakpoint(xl) {
                position: absolute;
            }

            img {
                border-radius: 10px;
            }

            &.item1 {
                @include breakpoint(xl) {
                    top: 220px;
                    right: 50px;

                }

                @include breakpoint(xxxl) {
                    right: 120px;
                }

                @include breakpoint(xxxxl) {
                    right: 240px;
                }
            }

            &.item2 {
                @extend %d-none;

                @include breakpoint(xl) {
                    display: block;
                    right: 16%;
                }

                @include breakpoint(xxxxl) {
                    display: block;
                    right: 25%;
                }

                img {
                    @include breakpoint(xl) {
                        border: 5px solid #FFF;
                    }
                }
            }
        }
    }

    &--paddingservice {
        @include padding(120px 0 180px 0);

        @include breakpoint(sm) {
            @include padding(120px 0 0 0);
        }
    }

    &--padingfaqpage {
        @include padding-bottom(100px);
    }

    .working__shape.shape6 {
        @extend %d-none;

        @include breakpoint(xxxxxl) {
            display: block;
            right: 110px;
        }
    }

    .working__shape.shape7 {
        @extend %d-none;

        @include breakpoint(xxxxxl) {
            display: block;
            left: 110px;
        }
    }
}