.testmonial {
    @extend %bg-reno, %bg-center, %bg-cover, %rel;
    z-index: 1;

    @include breakpoint(max-xxxxxl) {
        overflow: hidden;
    }

    &__inner {
        @extend %bg-white;
        @include padding(35px 25px);
        border-radius: 8px;

        .profile {
            @extend %flex, %align-items-center;
            gap: 25px;
            @include margin-top(20px);

            .thumb {
                @extend %w-80, %h-80, %hidden;
                @include border-radius(50%);
                border: 2px solid #1F2A59;
                box-shadow: 0px 6px 24px 0px rgba(190, 190, 190, 0.40);

                img {
                    @extend %wd-100;
                }
            }

            .name {
                h6 {
                    @extend %mb-0;
                }

                p {
                    @extend %mt-0, %color4;
                }

                ul {
                    @extend %mp-0, %flex, %pl-0, %mb-0;
                    gap: 4px;

                    li {
                        @extend %list-none;

                        i {
                            @include font-size(12px);
                            color: #FFB421;

                        }
                    }
                }
            }
        }

        &--innerp3 {
            background: transparent;
            padding: 0 !important;

            >p {
                @extend %pt-10;
            }

            ul {
                @extend %pl-0, %mb-0, %flex, %gap-5;

                li {
                    @extend %list-none;
                    list-style: none;

                    i {
                        color: #FFB421;
                    }
                }
            }

            .profile {
                @extend %flex, %align-items-center, %justify-between;

                .left {
                    @extend %flex, %align-items-center, %gap-20;

                    .thumb {
                        border: 2px solid #FFF;
                        @extend %w-60, %h-60, %b-radius-30;
                        box-shadow: 0px 0px 24px 0px rgba(179, 181, 191, 0.42);
                    }

                    .text {
                        h6 {
                            @extend %mb-0;
                        }
                    }
                }

            }
        }
    }

    &__wrapper {
        @extend %mt-60;

        @include breakpoint(xxxl) {
            max-width: 1051px;
        }

        &--wrapper2 {
            @include breakpoint(mlg) {
                max-width: 560px !important;
            }

        }

    }

    .slick-next,
    .slick-prev {
        display: none !important;
    }

    .menimg {
        @include breakpoint(xl) {
            z-index: -1;
            position: absolute;
            bottom: 0;
            right: -6%;
        }


        @include breakpoint(xxxxxl) {
            right: 3%;
        }

        img {
            width: 90%;

            @include breakpoint(xxxxxl) {
                width: 98%;
            }
        }


    }

    &__page3rigtimg {
        display: none !important;

        @include breakpoint(mlg) {
            right: -22%;
            position: absolute;
            bottom: 0;
            display: block !important;
        }

        @include breakpoint(xl) {
            right: -5%;
        }

        @include breakpoint(xxxl) {
            right: 10%;
        }

        @include breakpoint(max-xxxl) {
            overflow: hidden !important;
        }

        img {
            width: 70%;

            @include breakpoint(xl) {
                width: 80%;
            }

            @include breakpoint(xxxl) {
                width: 100%;
            }
        }
    }

    &--page3 {
        @include breakpoint(max-xxxl) {
            overflow: hidden;
        }

        .testmonial__wrapper {
            @include breakpoint(md) {
                @include breakpoint(max-mlg) {
                    padding-top: 60px;
                    max-width: 550px;
                    margin: auto;
                }
            }
        }

        .section {
            @include breakpoint(md) {
                @include breakpoint(max-mlg) {
                    display: flex;
                    justify-content: center;
                    text-align: center;
                }
            }
        }


    }
}