.working {

    @extend %bg-reno-im, %bg-center-im, %bg-cover-im, %rel;

    &__wrapper {
        @extend %mt-60;

        .row {
            .col-lg-4 {
                &:nth-child(2) {
                    .working__inner {
                        .icon {
                            .left {
                                background: #8A93E6;
                            }
                        }
                    }
                }

                &:nth-child(3) {
                    .working__inner {
                        .icon {
                            .left {
                                background: #6E4EB4;
                            }
                        }
                    }
                }
            }
        }
    }

    &__inner {
        @extend %mt-30, %text-center;

        @include breakpoint(xl) {
            @include padding(0 20px);
            margin-top: 0px;
            text-align: left;
        }

        .icon {
            @extend %flex, %justify-between;

            .left {
                @extend %w-80, %h-80, %text-center, %b-radius-10;
                background: #E981D8;
                line-height: 80px;
                @extend %transition3;

                @include breakpoint(max-xl) {
                    margin: auto;
                }

                img {
                    @extend %transition3;
                }
            }
        }

        .text {
            @extend %mt-25;

            h6 {
                @extend %font1;
            }
        }

        &:hover {
            .icon {
                .left {
                    @extend %b-radius-0;

                    img {
                        transform: rotateY(360deg);
                    }
                }
            }

            .text {
                h6 {
                    @extend %color2;
                }

            }
        }
    }

    &--workingp3 {
        @extend %bg-reno-im, %bg-center-im, %bg-cover-im;
        @include padding(120px 0);

        @include breakpoint(xxxl) {
            @include padding(340px 0 160px 0);
        }

        .working__wrapper {
            .row {
                @include breakpoint(max-lg) {
                    flex-direction: column-reverse;
                }
            }
        }

        .working__item {
            @extend %text-center;

            @include breakpoint(xxxxxl) {
                text-align: right;
            }

            img {
                @extend %b-radius-15;
            }

            &.item2 {
                @extend %d-none;

                @include breakpoint(xxxl) {
                    position: absolute;
                    top: 55%;
                    left: 15%;
                    display: block;
                }

                img {
                    @include breakpoint(xxxl) {
                        border: 5px solid #FFF;
                    }

                }
            }
        }

        .container {
            .row {
                @include breakpoint(max-lg) {
                    flex-direction: column-reverse;
                }
            }
        }

    }

    &--aboutpage {

        @include padding-top(60px);

        .working__item {
            &.item2 {
                @extend %d-none;

                @include breakpoint(xxxl) {
                    top: 45%;
                    left: 16%;
                }

            }
        }

        .working__wrapper {
            @include padding-bottom(50px);
        }

    }

    &__allitem {
        @extend %mt-55, %flex, %gap-40;
        flex-direction: column;

        .item {
            @extend %flex, %align-items-center, %gap-18;

            @include breakpoint(sm) {
                gap: 25px;
            }

            .thumb {
                background: #ffdde3;
                padding: 15px;
                @extend %b-radius-10;

                img {
                    @extend %transition3;
                }
            }

            .text {
                width: 300px;
            }

            &:nth-child(2) {
                .thumb {
                    background: #e3eeff;
                }
            }

            &:nth-child(3) {
                .thumb {
                    background: #ffeecc;
                }
            }

            &:hover {
                .thumb {
                    img {
                        transform: rotateY(360deg);
                    }
                }

                .text {
                    h6 {
                        @extend %color2;
                    }
                }
            }
        }

        &--allitem2 {
            .item {
                .text {
                    h6 {
                        @extend %white-color;
                    }

                    p {
                        @extend %white-color;

                    }
                }

                &:hover {
                    .text {
                        h6 {
                            @extend %white-color;
                        }
                    }
                }
            }
        }
    }

    &__process {
        @include breakpoint(lg) {
            padding-left: 35px;
        }
    }

    &__shape {
        @extend %abs;

        &.shape1 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                left: 5%;
                top: 0;
                border-radius: 5px;
                background: #EF495E;
                display: block;
            }
        }

        &.shape2 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                left: 5%;
                bottom: 0;
                border-radius: 5px;
                background: #00AB9D;
                display: block;
            }

        }

        &.shape3 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                right: 40%;
                top: 15%;
                border-radius: 5px;
                background: #FFC53C;
                display: block;
            }
        }

        &.shape4 {

            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                right: 50%;
                top: 25%;
                border-radius: 5px;
                background: #EF495E;
                display: block;
            }
        }

        &.shape5 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                right: 5%;
                top: 40%;
                border-radius: 5px;
                background: #EF495E;
                display: block;
            }
        }

        &.shape6 {
            @extend %top-20, %d-none;

            @include breakpoint(xl) {
                right: 200px;
                display: block;
            }
        }

        &.shape7 {
            @extend %bottom-20, %d-none;

            @include breakpoint(xxxxxl) {
                left: 150px;
                display: block;
            }
        }

        &.shape8 {
            @extend %d-none;

            @include breakpoint(xl) {
                right: 150px;
                bottom: -40px;
                display: block;
            }
        }

    }

    &__section {
        @include breakpoint(max-lg) {
            display: flex;
            justify-content: center;
            text-align: center;
            max-width: 600px;
            margin: auto;
        }
    }
}