/*----------------------------------------*/
/*  PRELOADER CSS START
/*----------------------------------------*/

#loading {
    @extend %bg-white, %wd-100, %hd-100, %mt-0;
    position: fixed;
    z-index: 999999999;
    top: 0px;
}

#loading-center {
    @extend %wd-100, %hd-100, %rel;
}

#loading-center-absolute {
    @extend %abs, %left-50, %top-50;
    transform: translate(-50%, -50%);
}


#loading {
    @extend %bg-white, %hd-100, %wd-100, %mt-0, %top-0;
    position: fixed;
    z-index: 999999;
}

#loading-center {
    @extend %wd-100, %hd-100, %rel;
}

#loading-center-absolute {
    @extend %abs, %left-50, %top-50;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.preloader {
    &__bar {
        @extend %bg-white, %mb-50, %rel, %hidden;
        width: 270px;
        height: 4px;
        margin: auto;

        &-inner {
            @extend %abs, %left-0, %top-0, %wd-0, %hd-100;
            background-image: linear-gradient(90deg, #2D50CE 0%, #EF495E 100%);
            @include transition(1s);
        }
    }

    &__logo {
        @extend %mb-40;

        & img {
            &.logo-blink {
                animation: nextani .7s ease-in-out .1s infinite;

                @keyframes nextani {
                    0% {
                        opacity: 1;
                    }

                    50% {
                        opacity: .5;
                    }

                    100% {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__title {
        @extend %black-color, %text-uppercase, %rel;
        line-height: 1;
        @include font-size(170px);

        &-2 {
            @extend %text-700, %text-uppercase, %rel;
            @include font-size(170px);
            line-height: 1;

            &::before {
                @extend %abs, %left-0, %black-color, %opacity-0;
                content: attr(data-text-preloader);
                top: 22px;
                -webkit-transform: rotateY(-90deg);
                transform: rotateY(-90deg);
                -webkit-animation: letters-loading 3s infinite;
                animation: letters-loading 3s infinite;
            }

            &:nth-child(2)::before {
                -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s;
            }

            &:nth-child(3)::before {
                -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
            }

            &:nth-child(4)::before {
                -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s;
            }

            &:nth-child(5)::before {
                -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s;
            }

            &:nth-child(6)::before {
                -webkit-animation-delay: 1s;
                animation-delay: 1s;
            }

        }
    }

    &__loading {
        @extend %text-700, %font-size-16, %text-uppercase, %black-color;
        line-height: 1;
        letter-spacing: 0.9em;
    }

    &__with-text {
        @extend %d-none;
    }

    background-image: url('../assets/css/ajax-loader.gif');
}

@keyframes letters-loading {

    0%,
    75%,
    100% {
        opacity: 0;
        @include transform(rotateY(-90deg));

    }

    25%,
    50% {
        opacity: 1;
        @include transform(rotateY(0deg));
    }
}

@keyframes loading {

    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}