/*--
    - all Margin 
-----------------------------------------*/

@for $i from 0 through 100 {
    %mt-#{1 * $i} {
        @include margin-top(1px *$i);
    }
}


@for $i from 0 through 100 {
    %mb-#{1 * $i} {
        @include margin-bottom(1px *$i);
    }
}


@for $i from 0 through 100 {
    %ml-#{1 * $i} {
        @include margin-left(1px *$i);
    }
}


@for $i from 0 through 100 {
    %mr-#{1 * $i} {
        @include margin-right(1px *$i);
    }
}


@for $i from 0 through 100 {
    %m-#{1 * $i} {
        @include margin(1px *$i);
    }
}


@for $i from 0 through 100 {
    %my-#{1 * $i} {
        margin-block: 1px *$i;
    }
}



@for $i from 0 through 100 {
    %mx-#{1 * $i} {
        margin-inline: 1px *$i;
    }
}


/*--
    -all Padding 
-----------------------------------------*/
@for $i from 0 through 100 {
    %pt-#{1 * $i} {
        @include padding-top(1px *$i);
    }
}



@for $i from 0 through 100 {
    %pb-#{1 * $i} {
        @include padding-bottom(1px *$i);
    }
}



@for $i from 0 through 100 {
    %pl-#{1 * $i} {
        @include padding-left(1px *$i);
    }
}



@for $i from 0 through 100 {
    %pr-#{1 * $i} {
        @include padding-right(1px *$i);
    }
}


@for $i from 0 through 100 {
    %py-#{1 * $i} {
        padding-block: 1px *$i;
    }
}


@for $i from 0 through 100 {
    %px-#{1 * $i} {
        padding-inline: 1px *$i;
    }
}


@for $i from 0 through 100 {
    %p-#{1 * $i} {
        @include padding(1px *$i);
    }
}


/*--
    - wdith, height and line height
-----------------------------------------*/

/*-- width with pixel and %--*/
@for $i from 0 through 100 {
    %w-#{1 * $i} {
        width: 1px *$i;
    }
}


@for $i from 0 through 100 {
    %wd-#{1 * $i} {
        width: 1% *$i;
    }
}



/*--height  with pixel and %--*/
@for $i from 0 through 100 {
    %h-#{1 * $i} {
        height: 1px *$i;
    }
}


@for $i from 0 through 100 {
    %hd-#{1 * $i} {
        height: 1% *$i;
    }
}


/*--line height with pixel--*/
@for $i from 0 through 100 {
    %lheight-#{1 * $i} {
        line-height: 1px *$i;
    }
}


/*--
    - font-size 
-----------------------------------------*/
@for $i from 1 through 100 {
    %font-size-#{1 * $i} {
        @include font-size(1px *$i);
    }
}

/*--
    - text 
-----------------------------------------*/
@for $i from 300 through 900 {
    %text-#{1 * $i} {
        font-weight: (1 * $i);
    }
}



/*--
    - from top, left, bottom, right with %  
-----------------------------------------*/
@for $i from 0 through 100 {
    %top-#{1 * $i} {
        top: 1% *$i;
    }
}

@for $i from 0 through 100 {
    %left-#{1 * $i} {
        left: (1% *$i);
    }
}


@for $i from 0 through 100 {
    %right-#{1 * $i} {
        right: (1% *$i);
    }
}



@for $i from 0 through 100 {
    %bottom-#{1 * $i} {
        bottom: (1% *$i);
    }
}


/*--
    -gap 1 to 100
-----------------------------------------*/

@for $i from 1 through 100 {
    %gap-#{1 * $i} {
        gap: (1px *$i);
    }
}




/*--
    -%b-radius 0 to 10
-----------------------------------------*/

@for $i from 0 through 50 {
    %b-radius-#{1 * $i} {
        border-radius: 1px *$i;
    }
}