.footer {
    @extend %rel;
    @extend %bg-reno, %bg-center, %bg-cover;
    @include padding-bottom(170px);

    &__widgets {
        h6 {
            @extend %mb-35;
        }

        .logo {
            @extend %mb-30;
        }

        .socialicon {
            @extend %mt-50;

            a {
                @extend %w-35, %h-35, %b-radius-5, %text-center, %mr-15, %d-inline-block, %white-color;
                line-height: 35px;

                &:last-child {
                    @extend %mr-0;
                }

                &:nth-child(1) {
                    background: $facebook;
                }

                &:nth-child(2) {
                    background: $instagram;
                }

                &:nth-child(3) {
                    background: $linkedin;
                }

                &:nth-child(4) {
                    background: $pinterest;
                }
            }
        }

        .footer_services {
            @include breakpoint(xl) {
                padding-left: 60px;
            }

            ul {
                @extend %pl-0;

                li {
                    @extend %list-none, %mb-20, %font-size-16, %text-400, %font1;

                    a {
                        @extend %text-none, %font1, %text-400, %color4, %transition2;

                        i {
                            @extend %mr-10, %color2, %transition2;
                            font-size: 13px;
                        }
                    }

                    &:last-child {
                        @extend %mb-0;
                    }

                    &:hover {
                        a {
                            @extend %color2;
                        }
                    }
                }
            }
        }

        .footer_contact {
            ul {
                @extend %pl-0;

                li {
                    @extend %list-none, %flex, %gap-15, %mb-25;

                    .icon {
                        @extend %w-35, %h-35, %bg-white, %text-center, %b-radius-17;
                        line-height: 35px;
                    }

                    .text {
                        width: calc(100% - 50px);

                        span {
                            @extend %d-inline-block, %font-size-16, %text-400;
                            line-height: 24px;

                            @include breakpoint(sm) {
                                width: 195px;
                            }
                        }
                    }

                    &:last-child {
                        @extend %mb-0;
                    }
                }
            }
        }

        .popular_post {
            ul {
                @extend %pl-0;

                li {
                    @extend %list-none, %flex, %gap-20, %mb-20;

                    .thumb {
                        @extend %w-80, %h-80;

                        img {
                            @extend %b-radius-4;
                        }
                    }

                    .text {
                        h6 {
                            @extend %mb-0, %text-500, %line-2;

                            a {
                                @extend %text-none;
                                font-size: 18px;
                            }

                            &:hover {
                                a {
                                    @extend %color2;
                                }
                            }
                        }

                        span {
                            font-size: 16px;
                            @extend %text-400, %font1, %mt-3, %d-inline-block;
                        }

                        width: calc(100% - 100px);
                    }

                    &:last-child {
                        @extend %mb-20;
                    }
                }
            }
        }

        &--widgets2 {
            h6 {
                color: #fff !important;
            }

            .footer_services {
                ul {
                    li {
                        a {
                            @extend %white-color, %text-400;

                            i {
                                @extend %white-color;
                            }
                        }

                        &:last-child {
                            @extend %mb-0;
                        }

                        &:hover {
                            a {
                                color: #2D50CE;

                                i {
                                    @extend %color2;
                                }
                            }
                        }
                    }
                }

                &.leftpadding {
                    @include breakpoint(xl) {
                        padding-left: 70px
                    }
                }
            }

            .footer_links {
                @include breakpoint(max-xl) {
                    padding-left: 0 !important;
                }
            }

            .footer_contact {
                ul {
                    @extend %pl-0;

                    li {
                        .text {
                            span {
                                @extend %white-color;
                            }
                        }
                    }
                }
            }

        }
    }

    &__copyright {
        @extend %abs, %bottom-0, %left-0, %wd-100, %bg1, %py-25;
        border-top: 1px solid #1F2A59;

        p {
            @extend %white-color, %text-center;

            i {
                @extend %mr-10;
            }
        }
    }

    &__bullet {
        @extend %abs;

        &.bullet1 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                left: 8%;
                top: 10%;
                border-radius: 5px;
                background: #EF495E;
                display: block;
            }
        }

        &.bullet2 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                left: 20%;
                bottom: 16%;
                border-radius: 5px;
                background: #FFC53C;
                display: block;
            }
        }

        &.bullet3 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                top: 10%;
                right: 35%;
                border-radius: 5px;
                background: #EF495E;
                display: block;
            }

        }

        &.bullet4 {
            @extend %d-none;

            @include breakpoint(xl) {
                width: 10px;
                height: 10px;
                right: 3%;
                top: 10%;
                border-radius: 5px;
                background: #FFC53C;
                display: block;
            }
        }

    }
}